<manifest
    package="com.lightning.walletapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.NFC"/>

    <supports-screens
        android:resizeable="true"
        android:anyDensity="true"
        android:smallScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:normalScreens="true"/>

    <application
        android:name="com.lightning.walletapp.WalletApp"
        android:icon="@drawable/ic_launcher_testnet"
        android:fullBackupContent="false"
        android:allowBackup="false"
        android:label="Bitcoin">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lightning.walletapp"
            android:grantUriPermissions="true"
            android:exported="false">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>

        </provider>

        <service android:name="com.lightning.walletapp.helper.AwaitService"/>

        <activity
            android:name="com.lightning.walletapp.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoBarMain">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <!-- receiving shared text -->
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <intent-filter>
                <!-- receiving link clicks -->
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="lightning"/>
                <data android:scheme="bitcoin"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.WalletCreateActivity"
            android:screenOrientation="portrait" android:theme="@style/NoBar"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.WalletRestoreActivity"
            android:screenOrientation="portrait" android:theme="@style/NoBar"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.WalletActivity"
            android:screenOrientation="portrait" android:theme="@style/CustomBar"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.EmergencyActivity"
            android:screenOrientation="portrait" android:theme="@style/CustomBar"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.RequestActivity"
            android:screenOrientation="portrait" android:theme="@style/NoBar"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.LNOpsActivity"
            android:screenOrientation="portrait" android:theme="@style/CustomBar"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.LNStartActivity"
            android:screenOrientation="portrait" android:theme="@style/CustomBar"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.LNStartFundActivity"
            android:screenOrientation="portrait" android:theme="@style/NoBar"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.OlympusActivity"
            android:screenOrientation="portrait" android:theme="@style/CustomBar"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.WalletStatusActivity"
            android:screenOrientation="portrait" android:theme="@style/CustomBar"/>

        <activity android:launchMode="singleTask" android:name="com.lightning.walletapp.SettingsActivity"
            android:screenOrientation="portrait" android:theme="@style/CustomBar"/>

    </application>
</manifest>